@import "tailwindcss";

@theme {
	--font-sans: "Poppins", sans-serif;

	--color-white: #ffffff;
	--color-text: #151d48;
	--color-gray: #fafbfc;
	--color-grayblue: #737791;
	--color-primary: #5d5fef;
	--color-grey-300: #f9fafb;

	--d-2: 0.104vw;
	--d-4: 0.208vw;
	--d-8: 0.417vw;
	--d-10: 0.521vw;
	--d-12: 0.625vw;
	--d-14: 0.729vw;
	--d-16: 0.833vw;
	--d-18: 0.938vw;
	--d-20: 1.042vw;
	--d-24: 1.25vw;
	--d-28: 1.458vw;
	--d-30: 1.563vw;
	--d-32: 1.667vw;
	--d-36: 1.875vw;
	--d-40: 2.083vw;
	--d-42: 2.188vw;
	--d-48: 2.5vw;
	--d-50: 2.604vw;
	--d-56: 2.917vw;
	--d-60: 3.125vw;
	--d-380: 19.792vw;
}
@layer components {
	.scrollbar-hidden {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}

	.text10px-desktop {
		@apply text-[0.521vw];
	}

	.text12px-desktop {
		@apply text-[0.625vw];
	}

	.text13px-desktop {
		@apply text-[0.677vw];
	}

	.text14px-desktop {
		@apply text-[0.729vw];
	}

	.text16px-desktop {
		@apply text-[0.833vw];
	}

	.text18px-desktop {
		@apply text-[0.938vw];
	}

	.text20px-desktop {
		@apply text-[1.042vw];
	}

	.text24px-desktop {
		@apply text-[1.25vw];
	}

	.text30px-desktop {
		@apply text-[1.563vw];
	}

	.text32px-desktop {
		@apply text-[1.667vw];
	}

	.text36px-desktop {
		@apply text-[1.875vw];
	}
}
